@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:ital,wght@0,200;0,800;1,300&display=swap');

* {
    /* background-color: black; */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assests/m.jpg);

    /* background-image: url("assets/images/bg.jpg"); */
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    width: 100%;
    position: relative;

}

/* .main {
    background-image: url(assests/m.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}  */


.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}


.hero {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: calc(100% - 98px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;

    /* this is use to pop out  */
    position: relative;
    gap: 20px;
    padding: 0 10px;
}

.hero> :first-child {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

/* .hero> :nth-child(2){
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    
} */
.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line {
    height: 7px;
    background-color: rgba(47, 45, 45, 0.509);
}

.btn {

    padding: 8px 28px;
    /* font-weight: bold; */
    background-color: white;
    font-weight: 700;
    color: rgba(220, 228, 236, 0.874);
    background-color: rgba(42, 29, 29, 0.863);
    border-radius: 4px;
    cursor: pointer;
    border-color: white;
    border-radius: 4px;
    border-width: 2px;

}

.btn-red {
    background-color: red;
    color: white;

    border: 0px;

    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0px;

}

.ram {
    padding: 15px;

}

.bu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.om {
    color: white;
    position: absolute;
    right: 82px;
}

.but {
    display: flex;
    gap: 13px;
    border-radius: 1px;

}

.main input {
    padding: 23px 122px 8px 17px;
    ;
    color: rgba(255, 255, 255, 0.489);
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(77, 75, 75);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 84vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 120px;
    right: 80px;
    width: 400px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq p {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    /* padding: 12px; */
}

.faq {
    background-color: black;
    color: white;
    padding: 43px;

}

.faqbox:hover {
    background-color: rgba(128, 128, 128, 0.532);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    padding: 22px;
    font-size: 24px;
    font-weight: 500;
    justify-content: space-between;
    max-width: 70vw;
    margin: 9px auto;
    font-weight: 500;
    cursor: pointer;

    /* height: 52px; */
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    padding: 33px 2px 3px;


}

.footer a {
    font-size: 14px;


    color: white;


}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.last {
    padding: 23px;
}



@media screen and (max-width:1140px) {
    .first {
        /* flex-wrap: wrap; */
        max-width: 85vw;
    }

    section.first>div :nth-child(1) {
        font-size: 32px;
        font-weight: bolder;
    }

    section.first>div :nth-child(2) {
        font-size: 18px;
        font-weight: 300;
    }

    section.first>div {
        display: flex;
        flex-direction: column;
        padding: 34px 0 30px;
    }

    nav {
        padding: 22px;
        max-width: 94vw;
        height: 57px;
    }
}

@media screen and (max-width:960px) {
    .first {
        flex-wrap: wrap;
        max-width: 95vw;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }

    .secImg img {
        width: 401px;
        position: relative;
        z-index: 10;
    }

    .secImg video {
        position: absolute;
        top: 80px;
        right: 50px;
        width: 330px;
    }

    section.first>div :nth-child(1) {
        font-size: 32px;
        font-weight: bolder;
    }

    section.first>div :nth-child(2) {
        font-size: 18px;
        font-weight: 300;
    }

    section.first>div {
        display: flex;
        flex-direction: column;
        padding: 34px 35px 30px;
        justify-content: center;
        align-items: center;
    }

    nav {
        max-width: 94vw;
        height: 57px;
    }

    .hero {
        height: calc(100% - 100px);
        gap: 49px;
        padding: 0 9px;
    }

    nav img {
        width: 98px;
        padding: 22px;
    }

    .hero> :first-child {
        font-size: 30px;
    }

    .hero> :nth-child(2) {
        font-size: 20px;
    }
}

@media screen and (max-width:450px) {
    nav img {
        width: 78px;
        padding: 22px;
    }

    .btn {
        padding: 3px 11px;
    }

    .bu {
        flex-direction: column;
        gap: 36px;
    }

    .faq p {
        text-align: center;
        font-size: 28px;
    }

    .faqbox {
        font-size: 24px;
    }

    .om {
        left: 22px;
    }
}
